/* Broad */

html, body {
	max-height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	max-width: 100%;
}

body{
	color: #f8f8f8;
	font-family: "Ubuntu Mono", monospace;
	padding: 0px;
	margin: 0px;
	background-image: url("img/prism.png");
	text-shadow: 1px 1px #808080;
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: center;
}

/* Title */

#title {
    font-size: 300%;
    text-align: center;
    padding: 8px;
}

#banner {
    background-color: #aaaaaa;
}

/* Navigation */

#navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background-image: linear-gradient(#00000022, #00000000, #ffffff22);
}

.nav {
	margin: 8px;
	padding: 0px;
	text-align: center;
    text-decoration: none;
}

div.nav {
    margin: 8px;
    padding: 8px;
}

a.nav, a.nav:visited {
    color: #11aaff;
	margin: 0px;
	padding: 0px;
	text-align: center;
    text-shadow: 2px 2px #444444;
    text-decoration: none;
    font-size: 150%;
}

a.nav:hover {
    color: #dadafa;
	text-align: center;
}

/* Content */

#content {

}

#content-container {
    background-color: #444444bb;
    padding: 12px;
    margin: 6px;
}

/* Footer */

#footer {
    display: flex;
    width: 100%;
    background-color: #222222;
}

#social-bar {
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
}

.social-icon {
    width: 24px;
    height: 24px;
    padding: 4px;
}